@charset "UTF-8";
.default-margin {
  margin: 40px;
}

.block {
  background-color: white;
  padding: 80px 40px 0 40px;
}
.block .blockContent {
  position: relative;
  padding: 40px 0;
}

.shadow {
  -webkit-box-shadow: 1px 1px 5px 0px #c2c2c2;
  -moz-box-shadow: 1px 1px 5px 0px #c2c2c2;
  box-shadow: 1px 1px 5px 0px #c2c2c2;
}

.landscape {
  height: auto;
}

.portrait {
  ´width: auto;
}

.header::after {
  background: #FFEEB5;
  content: "";
  display: block;
  width: 150px;
  height: 10px;
  margin-top: 15px;
}
.header .headerImg {
  background: url("../img/logo.jpg") no-repeat center center;
  background-size: cover;
  height: 100px;
  width: 550px;
}

p {
  padding: 40px 0;
  margin: 0;
}

body nav {
  background-color: #7D95AC;
  position: fixed;
  width: 30%;
  height: 100%;
  font-family: "Open Sans Condensed", sans-serif;
}
body nav .nav-elements {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
  width: 62%;
  cursor: pointer;
  font-size: 26px;
}
body nav .nav-elements a {
  display: block;
  margin: 20px 0;
}
body nav .nav-elements a:hover {
  text-decoration: underline;
}
body .main {
  font-family: "Open Sans light", sans-serif;
  line-height: 1.4;
  float: right;
  width: calc(100% - 30%);
}
body .main .title {
  height: 80vh;
}
body .main .title .titleImg {
  position: fixed;
  width: 100%;
  height: 80vh;
  background: url("../img/title.jpg") no-repeat center center;
  background-size: cover;
  z-index: -1;
}
body .main .title .logoContainer {
  position: absolute;
  background: url("../img/logo.jpg") no-repeat center center;
  background-size: cover;
  height: 100px;
  width: 550px;
  margin-top: calc(80vh - 150px);
}
body .main .content {
  width: 100%;
}
body .main .content .termine .termineImg {
  position: absolute;
  width: 250px;
  height: 260px;
  background: url("../img/terminePlaceholder.jpg") no-repeat center center;
  background-size: cover;
}
body .main .content .termine .tableContainer {
  margin-left: 300px;
}
body .main .content .kontakt .blockContent {
  height: 260px;
}
body .main .content .kontakt .kontaktImg {
  width: 250px;
  height: 100%;
  float: left;
  background: url("../img/kontaktPlaceholder.jpg") no-repeat center center;
  background-size: cover;
}
body .main .content .kontakt .kontaktText {
  padding: 0;
  margin-left: 300px;
}
body .main .content .footer {
  padding: 0;
  text-align: center;
}
