@import "variables";
@import "mixins";

.default-margin {
	margin: $default-margin;
}

.block {
	padding: 2*$default-margin $default-margin 0 $default-margin;
	.blockContent {
		position: relative;
		padding: $default-margin 0;
	}
}

.shadow {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(194,194,194,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(194,194,194,1);
	box-shadow: 1px 1px 5px 0px rgba(194,194,194,1);
}

.header {
	&::after {
		background: $main-yellow;
	    content: "";
	    display: block;
	    width: 150px;
	    height: 10px;
	    margin-top: 15px;
	}
	.headerImg {
		height: 50px;
	}
}

p {
	padding: $default-margin 0;
	margin: 0;
}

.hidden {
	display: none;
}