//ratios
$golden-ratio-large: 62%;
$golden-ratio-small: 38%;

$nav-width: 20%;


// colors
$main-yellow: #FFEEB5;
$main-nav: #7D95AC;


// margins
$default-margin: 40px;


// for arrow
$size: 20px;
$speed: 3s;
$peakopacity:0.7;