// responsive values

@media (max-width: #{$mq-small}) {
	body {
		nav {    
			width: 100%;
    		height: 80px;
    		max-height: 80px;
    		top: 0;
    		z-index: 2;
    		@include transition(0.5s ease-in-out);
    		#navLogo {
    			width: calc(100% - 100px); // - hamburger size
    			max-width: 300px;
    		}
			.navElements {
				visibility: hidden;
    			opacity: 0;
    			@include transition(opacity 0.5s ease-in-out);
			}
    		&.open {
    			height: 100%;
    			max-height: 1000px;
    			@include transition(0.5s ease-in-out);
	    		.navElements {
	    			visibility: visible;
	    			position: relative;
				    transform: none;
				    width: 100%;
				    top: 0;
				    text-align: center;
				    opacity: 1;
    				@include transition(opacity 0.5s ease-in-out);
	    		}   			
    		}
    		// https://codepen.io/designcouch/pen/Atyop
    		#hamburger {
    			display: block;
				position: relative;
				float: right;
				width: 50px;
				height: 40px;
				margin: 20px 20px 0 0;
				@include transform(rotate(0deg));
				@include transition(.5s ease-in-out);
				span {
					display: block;
					position: absolute;
					height: 3px;
					width: 100%;
					background: #000000;
					border-radius: 9px;
					opacity: 1;
					left: 0;
					@include transform(rotate(0deg));
					@include transition(.25s ease-in-out);

					&:nth-child(1) {
						top: 0px;
					}

					&:nth-child(2), &:nth-child(3) {
						top: 18px;
					}

					&:nth-child(4) {
						top: 36px;
					}
				}
				&.open span {
					&:nth-child(1) {
						top: 18px;
						width: 0%;
						left: 50%;
					}

					&:nth-child(2) {
						@include transform(rotate(45deg));
					}

					&:nth-child(3) {
						@include transform(rotate(-45deg));
					}

					&:nth-child(4) {
						top: 18px;
						width: 0%;
						left: 50%;
					}
				}
    		}
		}
		.main {
			width: 100%;
			#home {
				.titleImg, .logoBackground, .logoContainer {
					width: 100%;
					margin-left: 0;
				}
				.logoContainer, .logoBackground {
					margin-top: calc(90vh - 100px);
				}
				.logoContainer {
					@include backgroundSize(contain);
				}
				.titleImg {	
					@include fullBgImg('../img/title_mobile.jpg');
				}
			}
			.content {
				position: inherit;
				box-shadow: none;
				#info {
					p {
						width: 100%;
						.infoTextUnterschrift {
							width: calc(100% - 80px);
							max-width: 300px;
						    margin: 60px 40px 0;
						    position: absolute;
						    right: 0;
						}
					}
				}
				#termine {
					.termineImg {
						display: none;
					}
					.tableContainer {
						margin-left: 0;
					}
				}
				#galerie {
					.imgBlock .imgContainer {
						width: calc(50% - #{$default-margin});
					}
				}
				#galerieLarge {
					width: 100vw;
					padding: 0;
					.galleryLargeContainer {
						width: 90%;
						margin: 0 auto;
						margin-top: 50vh;
					}
				}
				#kontakt {
					// in main file, cause different breakpoint
				}
			}
		}
	}	
}