// compile with sass --watch src\main.scss css\main.css --no-source-map
@import "default-classes";
@import "variables";
@import "mixins";

html {
  scroll-behavior: smooth; // placeholder. Not supported in edge, safari, some mobile browser, see https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section1
}

body { 
	nav {
		background: $main-nav;
		position: fixed;
		width: $nav-width;
		height: 100%;
		font-family: 'Open Sans Condensed', sans-serif;
		#navLogo {
			width: calc(100% - 20px);
    		padding: 10px;
    		opacity: 0;
		}
		#hamburger {
			display: none;
		}

		.navElements {
			position: absolute;
			right: 0;
			top: 50%;
    		transform: translateY(-30%);
			width: $golden-ratio-small;
			min-width: 120px;
			cursor: pointer;
			font-size: 26px;
			a {
				display: block;
				margin: 20px 0;
				text-decoration: none;
				color: black;
				&:hover{
					text-decoration: underline;
				}
				&.showMarker::before {
					content: '|'; // hot sure how well this works on all browsers
					position: absolute;
					margin-left: -15px;
					margin-top: -3px;
				}
			}
		}
	}

	.main {
		font-family: 'Open Sans light', sans-serif;
		line-height: 1.4;
		float: right;
		width: calc(100% - #{$nav-width}); // check % vs vw
		#home {
			height: 90vh; // add variable
			.titleImg {
				position: fixed;
				width: 100%;
				height: 90vh;  // add variable
				@include fullBgImg('../img/title.jpg');
				z-index: -1;
			}
			.logoContainer {
				position: absolute;
				@include fullBgImg('../img/logo.png');
				height: 100px;
	    		width: 550px;
				margin-top: 18vh;
				margin-left: 25px;
			}
			.logoBackground {
				position: absolute;
				background: rgba(255, 250, 235, 0.5); // create var?
				height: 100px;
	    		width: 575px;
				margin-top: 18vh;
			}
		}
		.content {
			width: 100%;
			// todo: create mixin
			-webkit-box-shadow: inset 1px 1px 7px 0px #c3c3c3;
			-moz-box-shadow: inset 1px 1px 7px 0px #c3c3c3;
			box-shadow: inset 1px 1px 7px 0px #c3c3c3;
			background-color: white;
			#info {
			  	#arrows {
			  		// https://codepen.io/z-/pen/BoyXKr
					position: absolute;
					width:$size;
					height:$size;
					@include transform(translate(-50%,-50%));
					margin-left: calc(35% - 10px);
    				margin-top: -60px;
    				opacity: 1; // visibility triggered onscroll
					&:before {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						border-left:$size/3 solid $main-yellow;
						border-bottom:$size/3 solid $main-yellow;
						@include transform(translate($size/3,$size*4/3)rotate(-45deg));
						animation: arrows $speed linear infinite;
				    }
				    &:after {
						content: '';
						position: absolute;
						width:100%;
						height:100%;
						border-left:$size/3 solid $main-yellow;
						border-bottom:$size/3 solid $main-yellow;
						@include transform(translate($size*2/3,0px)rotate(-45deg));
						animation: arrows $speed linear infinite $speed/-2;
				    }
				 }
				 p {
				 	width: 75%;
				 	.infoTextUnterschrift {
						width: 350px;
				 		margin-top: 60px;
					    position: absolute;
					    right: 15%;
				 	}
				 }
			}
			#galerie {
				margin-bottom: 0;
				.imgContainer {
					width: calc(100% + #{$default-margin});
					display: flex;
					flex-wrap: wrap;
					margin-bottom: $default-margin; // instead of parent to not hide hoverImg. Maybe better solution possible
					.imgBlock {
						position: relative;
						&.landscapeBlock {
							width: 51%;
						}
						&.portraitBlock {
							width: 49%;
						}
						.topImg, .bottomImg {
							position: relative;
						}
						img {
							width: calc(100% - #{$default-margin});
							margin-top: $default-margin;
							&.placeholder {
								position: relative;
							}
							&.hoverImg {
								@include transition(all 0.5s);
								transition-timing-function: ease-in;
								position: absolute;
								top: 0;
								left: 0;
								cursor: pointer;
								&:hover {
									width: 100%;
									margin-top: $default-margin-half;
									margin-left: -$default-margin-half;
								}
							}
						}
					}
				}
			}
			#galerieLarge {
				position: fixed;
				height: 100vh;
				top: 0;
				padding-top: 0;
				background: white;
				@include transition(background .05s ease-in);
				box-shadow: inset 1px 1px 7px 0px #c3c3c3;
				z-index: 2;
				// TODO: fade in on show

				.close {    
			    	position: absolute;
				    width: 50px;
				    height: 50px;
				    background-color: transparent;
				    top: $default-margin-half;
				    right: $default-margin;
				    cursor: pointer;

				    .closeLeft, .closeRight {
			    		height: 50px;
					    width: 2px;
					    background-color: #636262;
				    }

			    	.closeLeft {
					    margin-left: 35px;
						@include transform( rotate(45deg) ); 
						transition: all 200ms ease;

			    		.closeRight {
						    @include transform( rotate(90deg) ); 
							transition: all 200ms ease;
			    		}
			    	}
			    	&:hover {
			    		.closeLeft, .closeRight {
			    			width: 3px;
			    			background-color: black;
			    		}
			    	}
			    }
				.galleryLargeContainer {
					margin-top: 50vh;
    				transform: translateY(-50%);
					img {
						margin: 0 $default-margin 0 $default-margin;
						&.landscapeImg {
							width: calc(100% - #{$default-margin}*2);
						}
						&.portraitImg {
							height: 100%;
						}
					}
					.arrow {
						position: absolute;
						top: 50%;
						width: 30px;
						height: 30px;
						background: transparent;
						border-top: 2px solid #636262;
						border-right: 2px solid #636262;
						box-shadow: 0 0 0 lightgray;
						transition: all 200ms ease;
						
						&.left {
							left: 0;
							transform: translate3d(0,-50%,0) rotate(-135deg);
						}

						&.right {
							right: 0;
							transform: translate3d(0,-50%,0) rotate(45deg);
						}
						
						&:hover {
							border-top: 3px solid black;
							border-right: 3px solid black;
						}
						
						&:before { // for better hit area
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-40%,-60%) rotate(45deg);
							width: 200%;
							height: 200%;
						}
					}
				}
			}
			#termine {
				.termineImg {
    				position: absolute;
					width: 250px;
    				height: 390px;
					@include fullBgImg('../img/terminePlaceholder.jpg');
				}
				.tableContainer {
					margin-left: 300px; // create var
					table {
						border-collapse: collapse;
						tr {
							height: 30px;
							&.lastMarket {
								border-bottom: 3px solid $main-yellow;
							}
							&.isHappening {
								border: 3px solid $main-yellow;
							}
							td:nth-child(odd) {
								width: 125px;
								padding-left: 5px;
							}
							td:nth-child(even) a {
								color: black;
								font-family: 'Open Sans semi-bold', sans-serif;		
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
			#kontakt {
				.blockContent {
					height: 285px;
					.kontaktImg {
						width: 250px;
	    				height: 100%;
	    				float: left;
						@include fullBgImg('../img/kontaktPlaceholder2.jpg');
					}
					.kontaktText {
						width: 50%;
						padding: 0;
						margin-left: 300px;
						.kontaktUnterschrift {
							width: 350px;
					 		margin-top: 40px;
						    position: absolute;
						    right: 15%;
						}
					}
				}
				.map {
					height: 400px;
				}
			}
			#footer {
				padding: 0;
				text-align: center;
				span:hover {
					cursor: pointer;
					font-weight: bold;
					text-decoration: underline;
				}
				a {
					text-decoration: none;
					color: black;
				}
			}
		}
	}
}

@import "main-mobile";
